*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#111827;
    color:white;
}

section{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-size:2rem;
}

section:nth-child(even){
    background:#1f2937;
}

/* NAVBAR */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    transition:.4s;
    z-index:1000;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
}

.logo{
    color:white;
    font-size:28px;
    font-weight:700;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:35px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.4s;
    position:relative;
}

/* Hover Effect */

.nav-links a::after{

    content:"";
    position:absolute;
    left:0;
    bottom:-8px;

    width:0%;
    height:3px;

    background:#00e5ff;

    transition:.4s;
}

.nav-links a:hover::after{
    width:100%;
}

.nav-links a:hover{
    color:#00e5ff;
}

/* Active */

.active{
    color:#00e5ff;
}

/* Scroll Effect */

.scrolled{

    background:#00bcd4;
    padding:15px 8%;

    box-shadow:0 5px 15px rgba(0,0,0,.4);
}

.scrolled .logo{
    color:white;
}

.scrolled a{
    color:white;
}

.scrolled a:hover{
    color:#222;
}

/* Responsive */

@media(max-width:768px){

nav{
    flex-direction:column;
}

.nav-links{
    margin-top:15px;
}

.nav-links li{
    margin:0 15px;
}

}